:root {
  /* colors */
  --primary-700: hsl(245, 75%, 52%);
  --primary-100: hsl(225, 100%, 94%);
  --neutral-50: hsl(225, 100%, 98%);
  --neutral-600: hsl(224, 23%, 55%);
  --neutral-950: hsl(223, 47%, 23%);

  --primary-700-hsl: 245, 75%, 52%;
  --neutral-600-hsl: 224, 23%, 55%;

  /* fonts 
  28px l extrabold
  22px m extrabold
  16px s medium, bold
  14px xs medium, bold, extrabold
  */
  --fluid-14-18: clamp(0.875rem, 0.7917rem + 0.3704vw, 1.125rem);
  --fluid-16-18: clamp(1rem, 0.9583rem + 0.1852vw, 1.125rem);
  --fluid-22-32: clamp(1.375rem, 1.1667rem + 0.9259vw, 2rem);

  --font-title: normal 900 var(--fluid-22-32) "Red Hat Display", sans-serif;
  --font-s-m: normal 500 var(--fluid-16-18) "Red Hat Display", sans-serif;
  --font-s-xb: normal 900 var(--fluid-16-18) "Red Hat Display", sans-serif;
  --font-s-b: normal 700 var(--fluid-16-18) "Red Hat Display", sans-serif;
  --font-xs-m: normal 500 var(--fluid-14-18) "Red Hat Display", sans-serif;
  --font-xs-b: normal 700 var(--fluid-14-18) "Red Hat Display", sans-serif;
  --font-xs-xb: normal 900 var(--fluid-14-18) "Red Hat Display", sans-serif;

  /* spacings
  48px xxxl
  36px xxl
  32px xl
  28px l
  24px xm
  20px m
  16px sm
  12px xsm
  */
  --spacing-xxxlg: 3rem;
  --spacing-xxlg: 2.25rem;
  --spacing-xlg: 2rem;
  --spacing-lg: 1.75rem;
  --spacing-xm: 1.5rem;
  --spacing-m: 1.25rem;
  --spacing-sm: 1rem;
  --spacing-xsm: 0.75rem;
}

@font-face {
  font-family: "Red Hat Display";
  src: url("../assets/fonts/RedHatDisplay-VariableFont_wght.ttf");
  font-display: swap;
  font-weight: 500 700 900;
  font-style: normal;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;

  background-color: var(--primary-100);
  background-image: url("../images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

@media (min-width: 768px) {
  body {
    background-image: url("../images/pattern-background-desktop.svg");
  }
}
